<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TestServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <description>MySQL Data Store</description>
  
  <resource-ref>
		<description>
			Resource reference to a factory for java.sql.Connection
			instances that may be used for talking to a particular
			database that
			is configured in the server.xml file.
		</description>
		<res-ref-name>
			jdbc/TestDB
		</res-ref-name>
		<res-type>
			javax.sql.DataSource
		</res-type>
		<res-auth>
			Container
		</res-auth>
	</resource-ref>

  
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>servlets.details_pages.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/contents/readme</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>servlets.auto_popups.FabFlixSearchBar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
</web-app>